In [112]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from datetime import datetime
import time
import seaborn as sns

In [113]:
test = pd.read_csv('test_BdBKkAj.csv')
train = pd.read_csv('train_aWnotuB.csv')

In [114]:
test.info(), train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11808 entries, 0 to 11807
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  11808 non-null  object
 1   Junction  11808 non-null  int64
 2   ID        11808 non-null  int64
dtypes: int64(2), object(1)
memory usage: 276.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  48120 non-null  object
 1   Junction  48120 non-null  int64
 2   Vehicles  48120 non-null  int64
 3   ID        48120 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

(None, None)

In [115]:
print("TEST")
print(test.head())
print("TRAIN")
print(train.head())

TEST
              DateTime  Junction           ID
0  2017-07-01 00:00:00         1  20170701001
1  2017-07-01 01:00:00         1  20170701011
2  2017-07-01 02:00:00         1  20170701021
3  2017-07-01 03:00:00         1  20170701031
4  2017-07-01 04:00:00         1  20170701041
TRAIN
              DateTime  Junction  Vehicles           ID
0  2015-11-01 00:00:00         1        15  20151101001
1  2015-11-01 01:00:00         1        13  20151101011
2  2015-11-01 02:00:00         1        10  20151101021
3  2015-11-01 03:00:00         1         7  20151101031
4  2015-11-01 04:00:00         1         9  20151101041

In [116]:
train.drop_duplicates(keep="first",inplace=True)
train.shape[0]

48120

In [117]:
if(train.isnull().sum().sum()==0):
    print("No misssing value TRAIN")
else:
    train.fillna(method='ffill',inplace=True)
if(test.isnull().sum().sum()==0):
    print("No misssing value TEST")
else:
    test.fillna(method='ffill',inplace=True)

No misssing value TRAIN
No misssing value TEST

In [118]:
train['DateTime'] = pd.to_datetime(train['DateTime'])
test['DateTime'] = pd.to_datetime(test['DateTime'])
train.dtypes,test.dtypes

(DateTime    datetime64[ns]
 Junction             int64
 Vehicles             int64
 ID                   int64
 dtype: object,
 DateTime    datetime64[ns]
 Junction             int64
 ID                   int64
 dtype: object)

In [119]:
train["Year"]= train['DateTime'].dt.year  
train["Month"]= train['DateTime'].dt.month  
train["Date"]= train['DateTime'].dt.day  
train["Hour"]= train['DateTime'].dt.hour  
train["Day"]= train['DateTime'].dt.dayofweek

test["Year"]= test['DateTime'].dt.year  
test["Month"]= test['DateTime'].dt.month  
test["Date"]= test['DateTime'].dt.day  
test["Hour"]= test['DateTime'].dt.hour  
test["Day"]= test['DateTime'].dt.dayofweek

In [120]:
train.sample(5)

,DateTime,Junction,Vehicles,ID,Year,Month,Date,Hour,Day
10170,2016-12-28 18:00:00,1,61,20161228181,2016,12,28,18,2
4974,2016-05-26 06:00:00,1,20,20160526061,2016,5,26,6,3
35319,2016-07-13 15:00:00,3,15,20160713153,2016,7,13,15,2
9572,2016-12-03 20:00:00,1,65,20161203201,2016,12,3,20,5
15581,2015-12-12 05:00:00,2,8,20151212052,2015,12,12,5,5

In [121]:
test.sample(5)

                DateTime  Junction           ID  Year  Month  Date  Hour  Day
2760 2017-10-24 00:00:00         1  20171024001  2017     10    24     0    1
7106 2017-08-20 02:00:00         3  20170820023  2017      8    20     2    6
8382 2017-10-12 06:00:00         3  20171012063  2017     10    12     6    3
1532 2017-09-02 20:00:00         1  20170902201  2017      9     2    20    5
3816 2017-08-06 00:00:00         2  20170806002  2017      8     6     0    6

In [122]:
train = train.drop(columns=['DateTime','ID'])
test = test.drop(columns=['DateTime','ID'])

In [123]:
train.head()

   Junction  Vehicles  Year  Month  Date  Hour  Day
0         1        15  2015     11     1     0    6
1         1        13  2015     11     1     1    6
2         1        10  2015     11     1     2    6
3         1         7  2015     11     1     3    6
4         1         9  2015     11     1     4    6

In [124]:
test.head()

   Junction  Year  Month  Date  Hour  Day
0         1  2017      7     1     0    5
1         1  2017      7     1     1    5
2         1  2017      7     1     2    5
3         1  2017      7     1     3    5
4         1  2017      7     1     4    5

In [125]:
from sklearn.preprocessing import *
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

### RANDOM FOREST

In [126]:
X = train.drop(columns=['Vehicles'])
y = train['Vehicles']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Train size: x:{len(X_train)} and y:{len(y_train)}")

Train size: x:38496 and y:38496

In [127]:
random_forest_model = RandomForestRegressor(n_estimators=50,max_depth=10 ,random_state=42)
random_forest_model.fit(X_train,y_train)
pred = random_forest_model.predict(X_val)
mse = mean_squared_error(y_val, pred)
mse

26.025951621794942

In [128]:
r2 = r2_score(y_val, pred)
r2

0.9361399593817984

### LGBM

In [129]:
lgbm_model = LGBMRegressor(random_state=42)
lgbm_model.fit(X_train,y_train)
pred = lgbm_model.predict(X_val)
mse = mean_squared_error(y_val,pred)
r2 = r2_score(y_val,pred)
mse,r2

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000550 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 85
[LightGBM] [Info] Number of data points in the train set: 38496, number of used features: 6
[LightGBM] [Info] Start training from score 22.883598

(22.02870312914759, 0.9459480330619069)

### XGBoost

In [130]:
xgb_model = XGBRegressor(learning_rate=0.1,max_depth=6, n_estimatiors=100, random_state=42)
xgb_model.fit(X_train,y_train)
pred = xgb_model.predict(X_val)
mse = mean_squared_error(y_val,pred)
r2 = r2_score(y_val,pred)
mse,r2

C:\Users\Admin\anaconda3\Lib\site-packages\xgboost\core.py:158: UserWarning: [00:23:05] WARNING: D:\bld\xgboost-split_1733179550881\work\src\learner.cc:740:
Parameters: { "n_estimatiors" } are not used.

  warnings.warn(smsg, UserWarning)

(24.072373584765295, 0.9409334659576416)